<div  *ngIf="showSlide" 
      [ngClass]="[slideshowConfig?.dropShadow?.useDropShadow === true ? 'drop-shadow_'+ slideshowConfig?.dropShadow?.intensity : '']">

<div #mainSlideCont 
     class="ng-component-container animation" 
     [ngStyle]="{'height': slideshowConfig.height + slideshowConfig.heightUnit}" 
     [ngClass]="['horAlign_'+slide?.horizontalAlign, 
                 'verAlign_'+slide?.verticalAlign,
                 'inner_padding_' + slideshowConfig.innerPadding,
                 slideshowConfig.transitionType]">
                
    <pep-page-layout [ngStyle]="{'-webkit-animation-duration':  slideshowConfig.transitionTime + 's',
                                 'animation-duration': slideshowConfig.transitionTime + 's'}" 
                      class="animation" 
                      [ngClass]="[slideshowConfig.transitionType]">
        <ng-container pep-main-area>
            <div *ngIf="slide?.image?.useImage || slide?.gradientOverlay?.useGradientOverlay || slide?.overlay?.useGradientOverlay"
                class="backgroundImage"
                [ngClass]="['inner_margin_' + slideshowConfig.innerPadding ]"
                [ngStyle]="{'background' : getBackground(),
                             'background-position-y' : slide?.image?.verticalPosition + '%',
                             'background-position-x' : slide?.image?.horizontalPosition + '%',
                             'box-shadow': slide?.overlay?.useGradientOverlay ?  'inset 0 0 0 100vh ' + getRGBAcolor(slide?.overlay) : 'unset' ,
                             'height': slideshowConfig.height + slideshowConfig.heightUnit}">
      
            </div>
            <div class="slide-box" [ngClass]="['contentWidth_'+slide?.contentWidth, 
                                                'horAlign_'+slide?.horizontalAlign, 
                                                'verAlign_'+slide?.verticalAlign, 
                                                'textColor_'+slide?.textColor, 
                                                'rowGap_'+slide?.innerSpacing,
                                                 slideshowConfig?.isUseArrows ? 'withArrow_margin' : '']" >
                <div>
                    <label class="body-sm ellipsis" *ngIf="slide?.useTitle" [ngClass]="'size_'+slide?.titleSize">{{slide?.titleContent}}</label>
                </div>
                <div>
                    <label class="body-sm ellipsis" *ngIf="slide?.useSubTitle" [ngClass]="'size_'+slide?.subTitleSize">{{slide?.subTitleContent}}</label>
                </div>
                <div class="buttons-box">
                    <pep-button *ngIf="slide?.firstButton?.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.firstButton.label" [styleType]="slide?.firstButton?.style" [ngClass]="slide?.buttonColor" (buttonClick)="onSlideButtonClicked('firstButton')"></pep-button>
                    <pep-button *ngIf="slide?.secondButton?.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.secondButton.label" [styleType]="slide?.secondButton?.style" [ngClass]="slide?.buttonColor"  (buttonClick)="onSlideButtonClicked('secondButton')"></pep-button>
                </div>
            </div>
        </ng-container>
    </pep-page-layout> 
</div>
</div>