<div  [ngStyle]="{'height': slideshowConfig?.height + slideshowConfig?.heightUnit}" 
      [ngClass]="[slideshowConfig?.showControllersInSlider == false ? 'withOutSideController' : '',
                 slideshowConfig?.dropShadow?.use ? 'shadow-' + this.slideshowConfig?.dropShadow?.size : '',
                 slideshowConfig?.dropShadow?.use ? this.slideshowConfig?.dropShadow?.intensity : '']">

<div #mainSlideCont 
     class="ng-component-container" 
     [ngStyle]="{'height': getSlideContentHeight(),
                 'background' : getGradientOverlay()}" 
     [ngClass]="[ 'horAlign_' + slide?.horizontalAlign,
                 'verAlign_' + slide?.verticalAlign,
                 'inner_padding_' + slideshowConfig.innerPadding]">      
            <div *ngIf="slide?.image?.useImage || slide?.gradientOverlay?.use || slide?.overlay?.use"
                class="backgroundImage"
                [ngClass]="['inner_margin_' + slideshowConfig.innerPadding ]"
                [ngStyle]="{'background' : getAssetWithPos(),
                             'box-shadow': slide?.overlay?.use ?  'inset 0 0 0 100vh ' + getRGBAcolor(slide?.overlay) : 'unset' ,
                             'height': slideshowConfig.height + slideshowConfig.heightUnit}">
      
            </div>
            <div class="slide-box" [ngClass]="['contentWidth_'+slide?.contentWidth, 
                                                'horAlign_'+slide?.horizontalAlign, 
                                                'verAlign_'+slide?.verticalAlign, 
                                                'rowGap_'+slide?.innerSpacing,
                                                 slideshowConfig?.isUseArrows ? 'withArrow_margin' : '']"
                                    [ngStyle]="{'grid-template-rows' : 'min-content auto min-content'
                                                 }">
                <div *ngIf="slide?.useTitle"
                class="body-sm ellipsis" 
                [ngClass]="['title-'+slide?.titleSize,
                            slide?.titleWeight,
                            'textColor_'+slide?.textColor]">{{slide?.titleContent}}
                </div>
                <div class="subtitle-cont" 
                     *ngIf="slide?.useSubTitle" 
                     [ngClass]="['body-'+slide?.subTitleSize,
                                'textColor_'+slide?.textColor]">
                        {{slide?.subTitleContent}} 
                </div>
                <div class="buttons-box" *ngIf="slide?.firstButton?.useButton || slide?.secondButton?.useButton">
                    <pep-button *ngIf="slide?.firstButton?.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.firstButton.label" [styleType]="slide?.firstButton?.style" [classNames]="slide?.buttonColor" (buttonClick)="onSlideButtonClicked('firstButton')"></pep-button>
                    <pep-button *ngIf="slide?.secondButton?.useButton" [sizeType]="slide?.buttonsSize" [value]="slide?.secondButton.label" [styleType]="slide?.secondButton?.style" [classNames]="slide?.buttonColor"  (buttonClick)="onSlideButtonClicked('secondButton')"></pep-button>
                </div>
            </div>
</div>
</div>