<mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
    <mat-tab label="{{'SLIDESHOW.GENERAL' | translate}}">
        <label class="body-xs normal ellipsis">{{'SLIDESHOW.HEIGHTUNITS_TITLE' | translate}}</label>
                <pep-group-buttons [buttons]="HeightUnitsType" [selectedButtonKey]="configuration?.slideshowConfig?.heightUnit" buttonsClass="md regular" viewType="toggle" stretch="true" (buttonClick)="onSlideshowFieldChange('heightUnit',$event)">
                </pep-group-buttons>

                <pep-textbox [value]="configuration?.slideshowConfig?.height" [label]="'SLIDESHOW.HEIGHT' | translate" (valueChange)="onSlideshowFieldChange('height',$event)"></pep-textbox>
                
                <pep-group-buttons-settings [groupType]="'sizes'" [subHeader]="'SLIDESHOW.INNERPADDING_TITLE' | translate"
                                            [btnKey]="configuration?.slideshowConfig?.innerPadding" [excludeKeys]="['xs','xl']"
                                            (btnkeyChange)="onSlideshowFieldChange('innerPadding',$event)">
                </pep-group-buttons-settings>

                <pep-checkbox [value]="configuration?.slideshowConfig?.isTransition" [label]="'SLIDESHOW.TRANSITION' | translate" [renderTitle]="false" (valueChange)="onSlideshowFieldChange('isTransition',$event)"></pep-checkbox>
                <label class="body-xs normal ellipsis">{{'SLIDESHOW.TRANSITION_TITLE' | translate}}</label>
                <pep-textbox [label]="'SLIDESHOW.SLIDE_DURATION' | translate" type="int" [disabled]="!configuration?.slideshowConfig?.isTransition" 
                             [value]="configuration?.slideshowConfig?.transitionDuration" (valueChange)="onSlideshowFieldChange('transitionDuration',$event)"></pep-textbox>
                
                <div class="split-area">
                    <pep-select [label]="'SLIDESHOW.TRANSITION_TYPE' | translate" [value]="configuration?.slideshowConfig?.transitionType" [options]="transitionTypes" 
                        (valueChange)="onSlideshowFieldChange('transitionType',$event)" [emptyOption]="false"></pep-select>
                    <pep-textbox [label]="'SLIDESHOW.TRANSITION_TIME' | translate" type="int" 
                        [value]="configuration?.slideshowConfig?.transitionTime" (valueChange)="onSlideshowFieldChange('transitionTime',$event)"></pep-textbox>
                </div>

                <pep-checkbox [value]="configuration?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS' | translate" [renderTitle]="false" (valueChange)="onSlideshowFieldChange('isUseArrows',$event)"></pep-checkbox>
                <label class="body-xs normal ellipsis" [innerHTML]="'SLIDESHOW.ARROWS_DESC' | translate"></label>
                
                <label class="body-xs normal ellipsis">{{'SLIDESHOW.ARROWS_TYPE' | translate}}</label>
                <pep-group-buttons [buttonsDisabled]="!configuration?.slideshowConfig?.isUseArrows" [buttons]="ArrowsType" [selectedButtonKey]="configuration?.slideshowConfig?.arrowType" buttonsClass="md regular" viewType="toggle" 
                                stretch="true" (buttonClick)="onSlideshowFieldChange('arrowType',$event)">
                </pep-group-buttons>

                <label class="body-xs normal ellipsis">{{'SLIDESHOW.ARROWS_BUTTONS' | translate}}</label>
                <pep-group-buttons [buttonsDisabled]="!configuration?.slideshowConfig?.isUseArrows" [buttons]="ArrowButtons" [selectedButtonKey]="configuration?.slideshowConfig?.arrowShape" buttonsClass="md regular" viewType="toggle" 
                                    stretch="true" (buttonClick)="onSlideshowFieldChange('arrowShape',$event)">
                </pep-group-buttons>

                <div class="split-area">
                    <pep-select [disabled]="!configuration?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS_STYLE' | translate" [value]="configuration?.slideshowConfig?.arrowsStyle" [options]="buttonStyle" 
                        (valueChange)="onSlideshowFieldChange('arrowsStyle',$event)" [emptyOption]="false"></pep-select>
                    <pep-select [disabled]="!configuration?.slideshowConfig?.isUseArrows" [label]="'SLIDESHOW.ARROWS_COLOR' | translate" [value]="configuration?.slideshowConfig?.arrowsColor" [options]="buttonColor"
                        (valueChange)="onSlideshowFieldChange('arrowsColor',$event)" [emptyOption]="false"></pep-select>
                </div>

                <label class="body-xl bold ellipsis">{{'SLIDESHOW.CONTROLLERS' | translate}}</label>
                <label class="body-xs normal" [innerHTML]="'SLIDESHOW.CONTROLLERS_DESC' | translate"></label>

                <pep-checkbox class="body-sm" 
                              [disabled]="!configuration?.slideshowConfig?.isTransition" 
                              [value]="configuration?.slideshowConfig?.usePauseButton && configuration?.slideshowConfig?.isTransition" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.PAUSE_PLAY' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('usePauseButton',$event)"></pep-checkbox>
                <pep-checkbox class="body-sm" [value]="configuration?.slideshowConfig?.showOnMobile" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.MOBILE' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('showOnMobile',$event)"></pep-checkbox>
                <pep-checkbox class="body-sm"  [value]="configuration?.slideshowConfig?.showControllersInSlider" 
                              [label]="'SLIDESHOW.CONTROLLERS_PROPERTIES.SHOW_CONTROLLERS' | translate" [renderTitle]="false" 
                              (valueChange)="onSlideshowFieldChange('showControllersInSlider',$event)"></pep-checkbox>
                
                <pep-group-buttons-settings [groupType]="'sizes'" [subHeader]="'SLIDESHOW.CONTROLLER_SIZE' | translate" 
                              [btnKey]="configuration?.slideshowConfig?.controllerSize" [excludeKeys]="['xs','lg','xl']"
                              (btnkeyChange)="onSlideshowFieldChange('controllerSize',$event)">
                </pep-group-buttons-settings>

                <pep-shadow-settings [shadow]="configuration?.slideshowConfig?.dropShadow"></pep-shadow-settings>
    </mat-tab>
    <mat-tab cdkDropListGroup label="{{'SLIDESHOW.CONTENT' | translate}}">
        <ng-container>
            <label class="body-xl bold ellipsis">{{'SLIDESHOW.SLIDES' | translate}}</label>
            <div (cdkDropListDropped)="drop($event)"  cdkDropList #availableSlidesContainer id="availableSlides" class="available-slides">
                <slide-editor *ngFor="let currentSlide of configuration?.slides;" class="available-slide"
                    [id]="currentSlide?.id" [showActions]="true" 
                    [isDraggable]="true" (editClick)='onSlideEditClick($event);' (removeClick)='onSlideRemoveClick($event);'
                    [configuration]="configuration"
                    cdkDrag [cdkDragDisabled]="currentSlide?.id == configuration?.slideshowConfig?.editSlideIndex" style="cursor: grab;" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
                </slide-editor>
            </div>

            <pep-button class="add-content-button" value="{{'SLIDESHOW.ADD_SLIDE' | translate}}" styleType="regular" iconName="number_plus" iconPosition="end"
                    (buttonClick)="addNewSlideClick()" [disabled]="configuration?.slides.length > 9"></pep-button>
        </ng-container>
    </mat-tab>
</mat-tab-group>