<div class="slide-editor-container">
    <div>
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div *ngIf="title !== ''" class="title-container">
        <span class="body-sm ellipsis">{{id+1}}.&nbsp;</span>
        <span class="body-sm color-link bold ellipsis" title="{{title}}">{{title}}</span>
    </div>
    <div class="actions" *ngIf="showActions">
        <pep-button classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveClick();"></pep-button>
        <pep-button *ngIf="id != configuration?.slideshowConfig?.editSlideIndex" sizeType="xs" iconName="arrow_down" (buttonClick)="onEditClick();"></pep-button>
        <pep-button *ngIf="id == configuration?.slideshowConfig?.editSlideIndex" sizeType="xs" iconName="arrow_up" (buttonClick)="onEditClick();"></pep-button>
    </div>
    <div class="editorCont" *ngIf="id == configuration?.slideshowConfig?.editSlideIndex">
   <pep-checkbox [value]="configuration?.slides[id].useTitle" [label]="'SLIDE_EDITOR.TITLE' | translate" [renderTitle]="false" 
    (valueChange)="onSlideFieldChange('useTitle',$event)"></pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.TITLE_CONTENT' | translate" type="string" [disabled]="!configuration?.slides[id].useTitle" [value]="configuration?.slides[id].titleContent" (valueChange)="onSlideFieldChange('titleContent',$event)"></pep-textbox>
      
    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.MAIN_TITLE_SIZE' | translate}}</label>
    <pep-group-buttons [buttons]="TitleSize" [selectedButtonKey]="configuration?.slides[id].titleSize" buttonsClass="md regular" viewType="toggle" stretch="true"
                       (buttonClick)="onSlideFieldChange('titleSize',$event)" [buttonsDisabled]="!configuration?.slides[id].useTitle"></pep-group-buttons>
    
    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.MAIN_TITLE_WEIGHT' | translate}}</label>
    <pep-group-buttons [buttons]="TitleWeight" 
                        [selectedButtonKey]="configuration?.slides[id].titleWeight" 
                        buttonsClass="md regular" 
                                           (buttonClick)="onSlideFieldChange('titleWeight',$event)" 
                                           viewType="toggle" 
                                           stretch="true">
    </pep-group-buttons>

    <pep-checkbox [value]="configuration?.slides[id].useSubTitle" [label]="'SLIDE_EDITOR.SUB_TITLE' | translate" [renderTitle]="false" 
    (valueChange)="onSlideFieldChange('useSubTitle',$event)"></pep-checkbox>
    
    <pep-textarea [value]="configuration?.slides[id].subTitleContent" [label]="'SLIDE_EDITOR.SUBTITLE_CONTENT' | translate" [disabled]="!configuration?.slides[id].useSubTitle" 
                  rowSpan="2" (valueChange)="onSlideFieldChange('subTitleContent',$event)">
    </pep-textarea>

    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.SUB_TITLE_SIZE' | translate}}</label>
    <pep-group-buttons [buttons]="SubTitleSize" [selectedButtonKey]="configuration?.slides[id].subTitleSize" buttonsClass="md regular" 
                       [buttonsDisabled]="!configuration?.slides[id].useSubTitle" (buttonClick)="onSlideFieldChange('subTitleSize',$event)" viewType="toggle" stretch="true">
    </pep-group-buttons>

    <label class="body-xl bold ellipsis">{{'SLIDE_EDITOR.CONTENT' | translate}}</label><br>
    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.CONTENT_BLOCK_WIDTH' | translate}}</label>
    <pep-group-buttons [buttons]="WidthSize" [selectedButtonKey]="configuration?.slides[id].contentWidth" buttonsClass="md regular" 
                       (buttonClick)="onSlideFieldChange('contentWidth',$event)" viewType="toggle" stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'SLIDESHOW.INNERSPACING_TITLE' | translate}}</label>
    <pep-group-buttons [buttons]="InnerSpacing" [selectedButtonKey]="configuration?.slides[id].innerSpacing" buttonsClass="md regular" 
                        viewType="toggle" stretch="true" (buttonClick)="onSlideFieldChange('innerSpacing',$event)">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.HORIZONTAL_ALIGN' | translate}}</label>
    <pep-group-buttons [buttons]="HorizentalAlign" [selectedButtonKey]="configuration?.slides[id].horizontalAlign" buttonsClass="md regular" 
                        (buttonClick)="onSlideFieldChange('horizontalAlign',$event)" viewType="toggle" stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.VERTICAL_ALIGN' | translate}}</label>
    <pep-group-buttons [buttons]="VerticalAlign" [selectedButtonKey]="configuration?.slides[id].verticalAlign" buttonsClass="md regular" 
                        (buttonClick)="onSlideFieldChange('verticalAlign',$event)" viewType="toggle" stretch="true">
    </pep-group-buttons>

    <pep-select [label]="'SLIDE_EDITOR.TEXT_COLOR_TITLE' | translate" [value]="configuration?.slides[id].textColor" [options]="textColors"
                (valueChange)="onSlideFieldChange('textColor',$event)" [emptyOption]="false" [disabled]="false"></pep-select>

    <label class="body-xl bold ellipsis">{{'SLIDE_EDITOR.BUTTONS' | translate}}</label><br>
    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.BUTTON_SIZE' | translate}}</label>
    <pep-group-buttons [buttons]="TitleSize" [selectedButtonKey]="configuration?.slides[id].buttonsSize" buttonsClass="md regular" 
                       (buttonClick)="onSlideFieldChange('buttonsSize',$event)" viewType="toggle" stretch="true">
    </pep-group-buttons>

    <pep-select [label]="'SLIDE_EDITOR.BUTTON_COLOR_TITLE' | translate" [value]="configuration?.slides[id].buttonColor" 
                [options]="buttonColor" (valueChange)="onSlideFieldChange('buttonColor',$event)" [emptyOption]="false" 
                [disabled]="false" styleType="regular"></pep-select>


    <pep-checkbox [value]="configuration?.slides[id].firstButton.useButton" [label]="'SLIDE_EDITOR.FIRST_BUTTON' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('firstButton.useButton',$event)"></pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LABEL' | translate" type="string" [disabled]="!configuration?.slides[id].firstButton.useButton" [value]="configuration?.slides[id].firstButton.label" (valueChange)="onSlideFieldChange('firstButton.label',$event)"></pep-textbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LINK_TO' | translate" type="link" [disabled]="!configuration?.slides[id].firstButton.useButton" [value]="configuration?.slides[id].firstButton.linkTo" (valueChange)="onSlideFieldChange('firstButton.linkTo',$event)"></pep-textbox>
    <pep-select [label]="'SLIDE_EDITOR.BUTTON_STYLE' | translate" [value]="configuration?.slides[id].firstButton.style" 
                [options]="buttonStyle" (valueChange)="onSlideFieldChange('firstButton.style',$event)" [emptyOption]="false" 
                [disabled]="!configuration?.slides[id].firstButton.useButton" styleType="weak">
    </pep-select>

    <pep-checkbox [value]="configuration?.slides[id].secondButton.useButton" [label]="'SLIDE_EDITOR.SECOND_BUTTON' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('secondButton.useButton',$event)"></pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LABEL' | translate" type="string" [disabled]="!configuration?.slides[id].secondButton.useButton" [value]="configuration?.slides[id].secondButton.label" (valueChange)="onSlideFieldChange('secondButton.label',$event)"></pep-textbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LINK_TO' | translate" type="link" [disabled]="!configuration?.slides[id].secondButton.useButton" [value]="configuration?.slides[id].secondButton.linkTo" (valueChange)="onSlideFieldChange('secondButton.linkTo',$event)"></pep-textbox>
    <pep-select [label]="'SLIDE_EDITOR.BUTTON_STYLE' | translate" [value]="configuration?.slides[id].secondButton.style" [options]="buttonStyle"
                (valueChange)="onSlideFieldChange('secondButton.style',$event)" [emptyOption]="false" [disabled]="!configuration?.slides[id].secondButton.useButton">
    </pep-select>
    
    <pep-color-settings [title]="'SLIDE_EDITOR.GRADIENT_OVERLAY' | translate"
                        [color]="configuration?.slides[id].gradientOverlay">
    </pep-color-settings>
    
    <pep-color-settings [title]="'SLIDE_EDITOR.OVERLAY' | translate"
                        [color]="configuration?.slides[id].overlay">
    </pep-color-settings>

    <pep-checkbox [value]="configuration?.slides[id].image.useImage" [label]="'SLIDE_EDITOR.IMAGE' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('image.useImage',$event)"></pep-checkbox>

    <pep-textbox [label]="'SLIDE_EDITOR.CHOOSE_IMAGE' | translate" 
                  type="link" 
                  [value]="configuration?.slides[id].image?.src" 
                  (valueChange)="onSlideFieldChange('image.src',$event)"></pep-textbox>
    <pep-slider
        [label]="'SLIDE_EDITOR.IMAGE_HORIZONTAL_POSITION' | translate" 
        [hint]="configuration?.slides[id].image.horizontalPosition?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.slides[id].image.useImage" 
        [value]="configuration?.slides[id].image.horizontalPosition"
        (valueChange)="onSlideFieldChange('image.horizontalPosition',$event)">
    </pep-slider>
    <pep-slider
        [label]="'SLIDE_EDITOR.IMAGE_VERTICAL_POSITION' | translate" 
        [hint]="configuration?.slides[id].image.verticalPosition?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.slides[id].image.useImage" 
        [value]="configuration?.slides[id].image.verticalPosition"
        (valueChange)="onSlideFieldChange('image.verticalPosition',$event)">
    </pep-slider>
</div>
</div>