<div class="slide-editor-container">
    <div>
        <pep-button classNames="lock-events" sizeType="xs" iconName="system_move"></pep-button>
    </div>
    <div *ngIf="title !== ''" class="title-container">
        <span class="body-sm ellipsis">{{id+1}}.&nbsp;</span>
        <span class="body-sm color-link bold ellipsis" title="{{title}}">{{title}}</span>
    </div>
    <div class="actions" *ngIf="showActions">
        <pep-button classNames="caution" sizeType="xs" iconName="system_bin" (buttonClick)="onRemoveClick();"></pep-button>
        <pep-button *ngIf="id != configuration?.slideshowConfig?.editSlideIndex" sizeType="xs" iconName="arrow_down" (buttonClick)="onEditClick();"></pep-button>
        <pep-button *ngIf="id == configuration?.slideshowConfig?.editSlideIndex" sizeType="xs" iconName="arrow_up" (buttonClick)="onEditClick();"></pep-button>
    </div>
    <div class="editorCont" *ngIf="id == configuration?.slideshowConfig?.editSlideIndex">
   <pep-checkbox [value]="configuration?.slides[id].useTitle" [label]="'SLIDE_EDITOR.TITLE' | translate" [renderTitle]="false" 
        (valueChange)="onSlideFieldChange('useTitle',$event)">
    </pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.TITLE_CONTENT' | translate" type="string" 
                 [disabled]="!configuration?.slides[id].useTitle" [value]="configuration?.slides[id].titleContent" 
                 (valueChange)="onSlideFieldChange('titleContent',$event)">
    </pep-textbox>
      
    <pep-group-buttons-settings
        pepResetConfigurationField="slides[{{id}}].titleSize" [hideReset]="configuration.slides[id].titleSize === configurationSource?.slides[id].titleSize"
         [resetHostEvents]="hostEvents"
        [groupType]="'custom'" [subHeader]="'SLIDE_EDITOR.MAIN_TITLE_SIZE' | translate" [btnsArray]="TitleSize"
        [disabled]="!configuration?.slides[id].useTitle" [btnKey]="configuration?.slides[id].titleSize">
    </pep-group-buttons-settings>

    <pep-group-buttons-settings 
        [groupType]="'custom'" [subHeader]="'SLIDE_EDITOR.MAIN_TITLE_WEIGHT' | translate" [btnsArray]="TitleWeight"
        [disabled]="!configuration?.slides[id].useTitle" [btnKey]="configuration?.slides[id].titleWeight">
    </pep-group-buttons-settings>

    <pep-checkbox [value]="configuration?.slides[id].useSubTitle" [label]="'SLIDE_EDITOR.SUB_TITLE' | translate" [renderTitle]="false" 
    (valueChange)="onSlideFieldChange('useSubTitle',$event)"></pep-checkbox>
    
    <pep-textarea [value]="configuration?.slides[id].subTitleContent" [label]="'SLIDE_EDITOR.SUBTITLE_CONTENT' | translate" [disabled]="!configuration?.slides[id].useSubTitle" 
                  rowSpan="2" (valueChange)="onSlideFieldChange('subTitleContent',$event)">
    </pep-textarea>

    <pep-group-buttons-settings 
        pepResetConfigurationField="slides[{{id}}].subTitleSize" [hideReset]="configuration.slides[id].subTitleSize === configurationSource?.slides[id].subTitleSize"
         [resetHostEvents]="hostEvents"
        [groupType]="'custom'" [subHeader]="'SLIDE_EDITOR.SUB_TITLE_SIZE' | translate" [btnsArray]="SubTitleSize"
        [disabled]="!configuration?.slides[id].useSubTitle" [btnKey]="configuration?.slides[id].subTitleSize">
    </pep-group-buttons-settings>

    <pep-group-buttons-settings
        pepResetConfigurationField="slides[{{id}}].contentWidth" [hideReset]="configuration.slides[id].contentWidth === configurationSource?.slides[id].contentWidth"
         [resetHostEvents]="hostEvents" 
        [groupType]="'custom'" [header]="'SLIDE_EDITOR.CONTENT' | translate" [subHeader]="'SLIDE_EDITOR.CONTENT_BLOCK_WIDTH' | translate" [btnsArray]="WidthSize"
        [btnKey]="configuration?.slides[id].contentWidth">
    </pep-group-buttons-settings>

    <pep-group-buttons-settings 
        [groupType]="'custom'" [subHeader]="'SLIDESHOW.INNERSPACING_TITLE' | translate" [btnsArray]="InnerSpacing"
        [btnKey]="configuration?.slides[id].innerSpacing">
    </pep-group-buttons-settings>

    <pep-group-buttons-settings 
            pepResetConfigurationField="slides[{{id}}].horizontalAlign" [hideReset]="configuration.slides[id].horizontalAlign === configurationSource?.slides[id].horizontalAlign"
             [resetHostEvents]="hostEvents" 
            [groupType]="'horizontal-align'" [subHeader]="'SLIDE_EDITOR.HORIZONTAL_ALIGN' | translate"
            [btnKey]="configuration?.slides[id].horizontalAlign"
            (btnkeyChange)="onSlideFieldChange('horizontalAlign',$event)">
    </pep-group-buttons-settings>

    <pep-group-buttons-settings 
                pepResetConfigurationField="slides[{{id}}].verticalAlign" [hideReset]="configuration.slides[id].verticalAlign === configurationSource?.slides[id].verticalAlign"
                [resetHostEvents]="hostEvents" 
                [groupType]="'vertical-align'" [subHeader]="'SLIDE_EDITOR.VERTICAL_ALIGN' | translate"
                [btnKey]="configuration?.slides[id].verticalAlign"
                (btnkeyChange)="onSlideFieldChange('verticalAlign',$event)">
    </pep-group-buttons-settings>

    <pep-select [label]="'SLIDE_EDITOR.TEXT_COLOR_TITLE' | translate" [value]="configuration?.slides[id].textColor" [options]="textColors"
                (valueChange)="onSlideFieldChange('textColor',$event)" [emptyOption]="false" [disabled]="false"></pep-select>

    <pep-group-buttons-settings 
            pepResetConfigurationField="slides[{{id}}].buttonsSize" [hideReset]="configuration.slides[id].buttonsSize === configurationSource?.slides[id].buttonsSize"
             [resetHostEvents]="hostEvents" 
            [header]="'SLIDE_EDITOR.BUTTONS' | translate" [subHeader]="'SLIDE_EDITOR.BUTTON_SIZE' | translate"
            [groupType]="'sizes'" [excludeKeys]="['xs']"
            [btnKey]="configuration?.slides[id].buttonsSize">
    </pep-group-buttons-settings>

    <pep-select [label]="'SLIDE_EDITOR.BUTTON_COLOR_TITLE' | translate" [value]="configuration?.slides[id].buttonColor" 
                [options]="buttonColor" (valueChange)="onSlideFieldChange('buttonColor',$event)" [emptyOption]="false" 
                [disabled]="false" styleType="regular"></pep-select>


    <pep-checkbox [value]="configuration?.slides[id].firstButton.useButton" [label]="'SLIDE_EDITOR.FIRST_BUTTON' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('firstButton.useButton',$event)"></pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LABEL' | translate" type="string" [disabled]="!configuration?.slides[id].firstButton.useButton" [value]="configuration?.slides[id].firstButton.label" (valueChange)="onSlideFieldChange('firstButton.label',$event)"></pep-textbox>

    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.ACTION' | translate}}</label>
    <pep-button class="script-button" 
                [value]="configuration?.slides[id].firstButton?.script?.runScriptData?.ScriptKey ? configuration?.slides[id].firstButton?.script?.runScriptData?.ScriptKey : ('SLIDE_EDITOR.CHOOSE_SCRIPT' | translate)" 
                (buttonClick)="openScriptPickerDialog('firstButton');">
    </pep-button>

    <pep-select [label]="'SLIDE_EDITOR.BUTTON_STYLE' | translate" [value]="configuration?.slides[id].firstButton.style" 
                [options]="buttonStyle" (valueChange)="onSlideFieldChange('firstButton.style',$event)" [emptyOption]="false" 
                [disabled]="!configuration?.slides[id].firstButton.useButton" styleType="weak">
    </pep-select>

    <pep-checkbox [value]="configuration?.slides[id].secondButton.useButton" [label]="'SLIDE_EDITOR.SECOND_BUTTON' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('secondButton.useButton',$event)"></pep-checkbox>
    <pep-textbox [label]="'SLIDE_EDITOR.LABEL' | translate" type="string" [disabled]="!configuration?.slides[id].secondButton.useButton" [value]="configuration?.slides[id].secondButton.label" (valueChange)="onSlideFieldChange('secondButton.label',$event)"></pep-textbox>

    <label class="body-xs normal ellipsis">{{'SLIDE_EDITOR.ACTION' | translate}}</label>
    <pep-button class="script-button" 
                [value]="configuration?.slides[id].secondButton?.script?.runScriptData?.ScriptKey ? configuration?.slides[id].secondButton?.script?.runScriptData?.ScriptKey: ('SLIDE_EDITOR.CHOOSE_SCRIPT' | translate)" 
                (buttonClick)="openScriptPickerDialog('secondButton');">
    </pep-button>
    <pep-select [label]="'SLIDE_EDITOR.BUTTON_STYLE' | translate" [value]="configuration?.slides[id].secondButton.style" [options]="buttonStyle"
                (valueChange)="onSlideFieldChange('secondButton.style',$event)" [emptyOption]="false" [disabled]="!configuration?.slides[id].secondButton.useButton">
    </pep-select>
    
    <pep-color-settings [title]="'SLIDE_EDITOR.GRADIENT_OVERLAY' | translate"
                        [checkAAComplient]="false"
                        [color]="configuration?.slides[id].gradientOverlay"
                        (colorChange)="onSlideFieldChange('gradientOverlay',$event)">
    </pep-color-settings>
    
    <pep-color-settings [title]="'SLIDE_EDITOR.OVERLAY' | translate"
                        [checkAAComplient]="false"
                        [color]="configuration?.slides[id].overlay"
                        (colorChange)="onSlideFieldChange('overlay',$event)">
    </pep-color-settings>

    <pep-checkbox [value]="configuration?.slides[id].image.useImage" [label]="'SLIDE_EDITOR.IMAGE' | translate" [renderTitle]="false" (valueChange)="onSlideFieldChange('image.useImage',$event)"></pep-checkbox>

    <assets-button [imageURL]="configuration?.slides[id].image?.assetURL"
                   [disabled]="!configuration?.slides[id].image.useImage" 
                   (hostEvents)="onHostEvents($event);">
    </assets-button>

    <!-- <pep-textbox [label]="'SLIDE_EDITOR.CHOOSE_IMAGE' | translate" 
                  type="link" 
                  [value]="configuration?.slides[id].image?.assetURL" 
                  (valueChange)="onSlideFieldChange('image.assetURL',$event)"></pep-textbox> -->
    <pep-slider
        pepResetConfigurationField="slides[{{id}}].image.horizontalPosition" [hideReset]="configuration.slides[id].image.horizontalPosition === configurationSource?.slides[id].image.horizontalPosition"
         [resetHostEvents]="hostEvents" 
        [label]="'SLIDE_EDITOR.IMAGE_HORIZONTAL_POSITION' | translate" 
        [hint]="configuration?.slides[id].image.horizontalPosition?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.slides[id].image.useImage" 
        [value]="configuration?.slides[id].image.horizontalPosition"
        (valueChange)="onSlideFieldChange('image.horizontalPosition',$event)">
    </pep-slider>
    <pep-slider
        pepResetConfigurationField="slides[{{id}}].image.verticalPosition" [hideReset]="configuration.slides[id].image.verticalPosition === configurationSource?.slides[id].image.verticalPosition"
         [resetHostEvents]="hostEvents" 
        [label]="'SLIDE_EDITOR.IMAGE_VERTICAL_POSITION' | translate" 
        [hint]="configuration?.slides[id].image.verticalPosition?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.slides[id].image.useImage" 
        [value]="configuration?.slides[id].image.verticalPosition"
        (valueChange)="onSlideFieldChange('image.verticalPosition',$event)">
    </pep-slider>
</div>
</div>