<div class="slideShowCont" [ngStyle]="{'height':  configuration?.slideshowConfig?.fillHeight ? '100%' :  getSlideShowHeight() }"
              [ngClass]="[configuration?.slideshowConfig?.dropShadow?.use && 
                         ((configuration?.slideshowConfig?.fillHeight && configuration?.slideshowConfig?.showControllersInSlider) || 
                         (!configuration?.slideshowConfig?.fillHeight && configuration?.slideshowConfig?.showControllersInSlider)) ? 'shadow-' + configuration?.slideshowConfig?.dropShadow?.size : '',
                         configuration?.slideshowConfig?.dropShadow?.use && 
                         ((configuration?.slideshowConfig?.fillHeight && configuration?.slideshowConfig?.showControllersInSlider) || 
                         (!configuration?.slideshowConfig?.fillHeight && configuration?.slideshowConfig?.showControllersInSlider)) ? configuration?.slideshowConfig?.dropShadow?.intensity : '',
                         configuration?.slideshowConfig?.useRoundCorners ? 'border-radius-' + configuration?.slideshowConfig?.roundCornersSize : '',
                         configuration?.slideshowConfig?.hideOnMobile ? 'hideOnMobile' : '']">
<div *ngIf="configuration?.slideshowConfig?.isUseArrows"
       [ngStyle]="{ 'display': configuration?.slideshowConfig?.arrowsDisplay === 'hide' ? 'none' : 'flex'   }"
       id="navigationCont">
         <pep-button sizeType='sm'
                     [disabled]="configuration?.slides?.length == 1"
                     [styleType]="configuration?.slideshowConfig?.arrowsStyle" 
                     [styleStateType]="configuration?.slideshowConfig?.arrowsColor"
                     [ngClass]="['rotate180' , 'arrowShape_' + configuration?.slideshowConfig?.arrowShape]" 
                     [iconName]="configuration?.slideshowConfig?.arrowType" 
                     (buttonClick)="navigate('back')">
         </pep-button>
         <pep-button sizeType='sm'
                     [disabled]="configuration?.slides?.length == 1"
                     [styleType]="configuration?.slideshowConfig?.arrowsStyle" 
                     [styleStateType]="configuration?.slideshowConfig?.arrowsColor"
                     [ngClass]="[configuration?.slideshowConfig?.arrowsColor, 'arrowShape_' + configuration?.slideshowConfig?.arrowShape]" 
                     [iconName]="configuration?.slideshowConfig?.arrowType"  
                     (buttonClick)="navigate('forward')">
         </pep-button>
</div>
<slide *ngFor="let currentSlide of configuration?.slides" 
       [showSlide]="slideIndex == currentSlide.id"
       [slide]="currentSlide" 
       [slideshowConfig]="configuration?.slideshowConfig"
       [ngClass]="[configuration?.slideshowConfig?.transitionType , slideIndex == currentSlide.id ? 'activeSlide' : '']"
       [ngStyle]="{'transition-duration':  configuration?.slideshowConfig?.transitionTime + 's',
                   'height' : getSlideHeight()}"
       (slideClick)="onSlideClicked($event)">
</slide>

<div id="slideFooterBtn" 
     *ngIf="configuration?.slides?.length > 1 && (!isMobileView || configuration?.slideshowConfig?.hideOnMobile)"
     [ngStyle]="{'bottom': configuration?.slideshowConfig?.showControllersInSlider ? '0.5rem': '0rem',
                 'display': configuration?.slideshowConfig?.controllersDisplay === 'hide' ? 'none' : 'flex'   }"
     [ngClass]="[configuration?.slideshowConfig?.dropShadow?.use === true ? 'with-shadow-margin' : '' ]">
       <div id="dotsCont" 
            class="pep-button"
            [ngClass]='[configuration?.slideshowConfig?.controllerSize, configuration?.slideshowConfig?.controllerStyle]'>
            <pep-icon name="system_circle" 
                      class="dot" 
                      *ngFor="let slide of configuration?.slides; let i = index"
                      (click)="setSlideIndex(i)" 
                      [ngClass]="{'active': i ===  slideIndex}">
            </pep-icon>
              <!-- <span *ngFor="let slide of configuration?.slides; let i = index" 
                     class="dot" 
                     (click)="setSlideIndex(i)" 
                     [ngClass]="{'active': i ===  slideIndex}">
              </span> -->
       </div>
       <ng-container *ngIf="configuration?.slideshowConfig?.isTransition && configuration?.slideshowConfig?.usePauseButton">
              <pep-button *ngIf="!isPause" [sizeType]='configuration?.slideshowConfig?.controllerSize' 
              [styleType]="configuration?.slideshowConfig?.controllerStyle" iconName="system_pause" (buttonClick)="setRunState($event)"></pep-button>
              <pep-button *ngIf="isPause" [sizeType]='configuration?.slideshowConfig?.controllerSize'
              [styleType]="configuration?.slideshowConfig?.controllerStyle" iconName="system_play" (buttonClick)="setRunState($event)"></pep-button>
       </ng-container>
</div>
</div>


