<slide *ngFor="let currentSlide of hostObject?.slides" 
       [showSlide]="slideIndex == currentSlide.id"
       [slide]="currentSlide" 
       [slideshowConfig]="hostObject?.slideshowConfig">
</slide>
<div id="slideFooterBtn">
<div id="dotsCont">
       <span *ngFor="slide of hostObject?.slides; let i = index" 
              class="dot" 
              (click)="setSlideIndex(i)" 
              [ngClass]="{'active': i ===  slideIndex}">
       </span>
</div>

<pep-button *ngIf="!isPause" sizeType='sm' styleType="regular" iconName="system_pause" (buttonClick)="setRunState($event)"></pep-button>
<pep-button *ngIf="isPause" sizeType='sm' styleType="regular" iconName="system_play" (buttonClick)="setRunState($event)"></pep-button>
<!-- <button class="spacing-element pep-button icon-button sm weak" mat-button>
                            <pep-icon name="system_pause"></pep-icon>
</button> -->


